# IDEs y otros archivos de configuracion
.idea/
*.iws
*.iml
*.ipr
.vscode/
.DS_Store

# Build artifacts
target/
build/
*.class

# Dependencias y cache (Maven)
.m2/

# Archivos de variables de entorno
.env
.env.local
.env.development
.env.production

# Archivos de log
*.log

# Archivos de sistema
**/Thumbs.db